*{
    margin:0;
    padding:0;
}
ul{
    list-style-type:none;
}
header{
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    padding:10px;
}
header h1 img{ 
    width:100%;
    height:auto;
}
header h1 {
    width:50px;
    display:inline-block;
}
nav{
    float:right;
}
nav li{
    display:inline-block;
    margin-left:30px;
    vertical-align:20px;
}
nav li a{
    color:black;
    text-decoration:none;
}
nav li a:hover{
    color:grey;
}
