@charset "utf-8";

/* ==========================================================================
	Table of Content:
	`````````````````
	* To keep an overview of structure of your code, we make use of table of 
	* content. Table of content is use display the overall tree structure of your
	* Layout. 
	* (NOTE: Remove this commented code once you start developing the code.
	* Remove the following table of content and add your own as this is just and 
	* example to let you know)
	
	1. Eric Meyer's CSS Reset Code
	2. Clear Fix
	3. Font-Face Declaration
	4. Common Stylings
	5. Header
	6. Main 
		6.1 Enter Section Name
		6.2 Enter Section Name
		6.3 Enter Section Name
	7. Footer
========================================================================== */

/* 1. Eric Meyers Reset
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
========================================================================== */

html, body, div, span, applet, object, iframe,
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
 cursor: pointer;
}

strong {
 font-weight: bold;
 font-family: inherit;
 font-size: inherit;
}

em { font-style: italic; }

img {
 border: 0;
 vertical-align: middle;
}

sub,
sup {
 vertical-align: baseline;
 position: relative;
 font-size: 55%;
 line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2 Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 3. Font-Face declaration
========================================================================== */
@font-face {
	font-family: 'roboto';
	src: url("/Framework/assets/vendor/webfonts/roboto/Roboto-Regular.ttf") format('ttf');

	font-family:'robotob';
	src: url("/Framework/assets/vendor/webfonts/roboto/Roboto-Bold.ttf") format('ttf');
  }


 /* ======= Your styling goes below ======= */
 /* 4. Common styling
 ================================================================================= */
 *{transition: .3s;}
 ul{list-style-type: none;}
 a{
	 display: inline-block;
	 text-decoration: none;
	 color:#0070c9;
	}
h2, h3, h4, h5{font-family: 'robotob',sans-serif;}
/* 5. Wrapper
================================================================================== */
.wrapper{
	width:76.56%;
	max-width: 1476px;
	margin: 0 auto;
}
.wrapper2{
	width:98.125%;
	max-width: 1476px;
	margin: 0 auto;
}
/* 6. header
================================================================================== */


h1{
	display:inline-block;
	flex: 0 1 8.59%;
}
header{
	background:#313131;
	display:flex;
	justify-content:space-between;
	align-items:center;
	position:fixed;
	z-index: 5;
	width:100%;
}
header .wrapper{
	display:flex;
}

ul{
	display:flex;
	justify-content:space-between;
	
}
nav{
	flex: 0 1 90%;
	align-self: center;
}

.fa-bars{
	color:#fff;
	display:none !important;
}
a{color:white;}
a:hover{opacity: .65;}
/* 7. Banner
================================================================================== */
.banner{
	background: rgba(0,0,0,6) url("https://media.mnn.com/assets/images/2012/09/GeneticallyEngineeredFlowersColoredRoses.jpg.653x0_q80_crop-smart.jpg") no-repeat center/cover fixed;
	padding:300px 0 240px 0;
}
h2{
	text-align: center;
    font-size: 35px;
    color: white;
}
.shot{
	margin-top:20px;
	text-align: center;
    font-size: 55px;
    color: white;
}
.banner p{
	font-size: 20px;
	text-align: center;
	padding: 18px;
}
.banner a{
	font-weight: 500;
}
.fa-play-circle::after{
	content:" \f144";
	font-size: 17px;
}
.fa-play-circle::before{
	display: none;
}
.learn{
	margin-left: 46px;
	font-weight: 400; 
}
/*8. Iphone Xr 
===================================================================================*/
.iphone__xr{
	
	/* padding: 200px; */
	/* background: url("assets/images/main--bmngiblug0mq-large.jpg") no-repeat center center;
	background-size: cover; */
	background-color:#fafafa;
	text-align: center;
	margin-top:5px;
}
/* .iphonexr img{
	background:center center fixed;
	background-size: cover;	
} */
.iphone__xr--para h3{
	/* position: absolute; */
	padding-top:50px;
}
.iphone__xr--para p:first-of-type{
	font-family: 'roboto', sans-serif;
    font-size: 22.6px;
	margin-top: 20px;
    letter-spacing: 0.4px;

}
.iphone__xr--para p:nth-of-type(2){
	font-family: 'roboto', sans-serif;
    font-size: 22.6px;
    margin-top: 10.6px;
    letter-spacing: 0.4px;

}
.iphone__xr--para .learn{
	color:#0070c9;
	font-size:21px;
	margin-top: 15px;
	margin-left:0;

}
/* 9. iPhone xs 
===================================================================================*/
.iphone__xs{
	
	/* padding: 200px; */
	/* background: url("assets/images/main--bmngiblug0mq-large.jpg") no-repeat center center;
	background-size: cover; */
	background-color:#fafafa;
	margin-top: 13px;
	text-align: center;
}
/* .iphonexr img{
	background:center center fixed;
	background-size: cover;	
} */
.iphone__xs--para h3{
	/* position: absolute; */
	padding-top:50px;
}
.iphone__xs--para p:first-of-type{
	font-family: 'roboto', sans-serif;
    font-size: 22.6px;
	margin-top: 20px;
    letter-spacing: 0.4px;

}
.iphone__xs--para p:nth-of-type(2){
	font-family: 'roboto', sans-serif;
    font-size: 22.6px;
    margin-top: 10.6px;
    letter-spacing: 0.4px;

}
.iphone__xs--para p:nth-of-type(3){
	font-family: 'roboto', sans-serif;
    font-size: 22.6px;
    margin-top: 10.6px;
    letter-spacing: 0.4px;

}
.iphone__xs--para .learn{
	color:#0070c9;
	font-size:21px;
	margin-top: 15px;
	margin-left:0;

}
/* start of the IOS And IpadOS section 
==================================================================================*/
.os__stn1 .wrapper2{
	display: flex;
	padding:7px;
}
.ios, .ipados{
	flex:0 1 50%;
	overflow:hidden;
	position:relative;
}
.ipados{margin-left:10px;}
.ios img, .ipados img{
	position:relative;
	top:0;
	left:-320px;
	right:0;
}
.ios__para, .ipados__para{
	position: absolute;
    top: 57.4px;
    left: 0;
    right: 0;
    z-index: 4;
    text-align: center;
}
.ios__para h3{
	color:white;
	font-size:38.4px;
}
.ipados__para h3{
	color:black;
	font-size:38.4px;
}
.ios__para p{
	font-size:19.5px;
	line-height: 28px;
	color:white;
	letter-spacing:.4px;
	font-family: 'roboto',sans-serif;
}
/* .ios__para a{
	font-size: 15px;
	line-height:28px;
	font-family:'roboto',sans-serif;
	color:white;
} */

.ipados__para p{
	font-size:19.5px;
	line-height: 28px;
	color:black;
	letter-spacing:.4px;
	font-family: 'roboto',sans-serif;
}
.preview{
	font-size: 17px;
	line-height:28px;
	font-family:'roboto',sans-serif;
	color:#0070c9;
	
}
/* the MacOs and WatchOs section
==================================================================================*/
.os__stn2 .wrapper2{
	display: flex;
	padding:7px;
}
.macos, .watchos{
	flex:0 1 50%;
	overflow:hidden;
	position:relative;
}
.watchos{margin-left:10px;}
.macos img, .watchos img{
	position:relative;
	top:0;
	left:-320px;
	right:0;
}
.macos__para, .watchos__para{
	position: absolute;
    top: 57.4px;
    left: 0;
    right: 0;
    z-index: 4;
    text-align: center;
}
.macos__para h3{
	color:black;
	font-size:38.4px;
}
.macos__para span{
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.watchos__para h3{
	color:black;
	font-size:38.4px;
}
.macos__para p{
	font-size:19.5px;
	line-height: 28px;
	color:black;
	letter-spacing:.4px;
	font-family: 'roboto',sans-serif;
}
.catalina{
	font-size:38.4px;
	line-height: 28px;
	color:black;
	letter-spacing:.4px;
	font-family: sans-serif;
}
/* .ios__para a{
	font-size: 15px;
	line-height:28px;
	font-family:'roboto',sans-serif;
	color:white;
} */

.watchos__para p{
	font-size:19.5px;
	line-height: 28px;
	color:black;
	letter-spacing:.4px;
	font-family: 'roboto',sans-serif;
}
.preview{
	font-size: 17px;
	line-height:28px;
	font-family:'roboto',sans-serif;
	color:#0070c9;
	
}
/* the Pro and Pro display section
===================================================================================*/
.devices .wrapper2{
	display: flex;
	padding:7px;
}
.macpro, .prodisplay{
	flex:0 1 50%;
	overflow:hidden;
	position:relative;
}
.prodisplay{margin-left:10px;}
.macpro figure{
	position:relative;
	top:0;
	left:0;
	right:0;
}
.macpro img{
	position:relative;
	top:0;
	left:-320px;
	right:0;
	/* width:300%; */
}

/* please ignore if do not understand */
/* .macpro img {
	position: relative;
	width: 200px;
	height: 100px;
	top:0;
	left:-320px;
	right:0;
} */

.prodisplay img{
	position:relative;
	top:0;
	left:-320px;
	right:0;
}
.macpro__para, .prodisplay__para{
	position: absolute;
    top: 57.4px;
    left: 0;
    right: 0;
    z-index: 4;
    text-align: center;
}
.macpro__para h3{
	color:black;
	font-size:38.4px;
}
/* .macpro__para span{
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
.prodisplay__para h3{
	color:black;
	font-size:38.4px;
}
.macpro__para p{
	font-size:19.5px;
	line-height: 28px;
	color:black;
	letter-spacing:.4px;
	font-family: 'roboto',sans-serif;
}
/* .ios__para a{
	font-size: 15px;
	line-height:28px;
	font-family:'roboto',sans-serif;
	color:white;
} */

.prodisplay__para p{
	font-size:19.5px;
	line-height: 28px;
	color:black;
	letter-spacing:.4px;
	font-family: 'roboto',sans-serif;
}
.preview{
	font-size: 17px;
	line-height:28px;
	font-family:'roboto',sans-serif;
	color:#0070c9;
}
/* Footer 
==================================================================================*/
/* Top Footer */
footer{
	background:#f2f2f2;
	padding-bottom:20px;
}
footer .footer__top .wrapper{
	display:flex;
}
footer .explore ul, footer .medialinks__1 ul{
    display: flex;
	flex-direction: column;
}
footer .explore, footer .medialinks__1{
	flex: 0 1 20%;
}
footer .explore li, footer .medialinks__1 li{
	margin-top:10px;
	font-size:13px;
}
footer .explore a, footer .medialinks__1 a{
	color:#979797;
}
footer h4{
	margin-top:20px;
	font-size: 12px;
	color:#333333;
	font-weight: 500;
}

/* bottom Footer */
.footer__bottom{
	margin-top:30px;
}
.footer__bottom h5 {
	border-bottom:1px  solid #d6d6d6;
	padding:8px 0;
	font-size:12px;
	color:#979797;
}
.footer__bottom h5 a{
	color:#0070c9;
}
.copy{
	display:inline-block;
	font-size:12px;
	color:#979797;
	padding:8px 0;
}
.site__nav{
	display:inline-block;
	font-size:14px;
}
.site__nav a{
	color:#5f5f5f;
	padding:0 0 0 10px;
	border-left:1px solid #979797;
}
.site__nav .noborder a{border-left:none;}
.flag{
	float:right;
	padding:8px 0;
}
.flag a{
	color:#5f5f5f;
	font-size:14px;
}
.flag img{vertical-align:bottom;}